@import "src/stylesheets/tools/variables";

.navbar {
  a {
    cursor: pointer;
  }
}

.title__container {
  display: flex;
  justify-content: space-between;
  width: fit-content;

  img {
    max-height: 2rem;
    vertical-align: bottom;
    margin-right: 0.25rem;
  }
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  padding-right: 32px;
}

.nav-link {
  &.active {
    background-color: darkgray;
    border-radius: 4px;
  }
}

.navbar-brand {
  padding: 8px;
}

@media screen and (max-width: $device-width-mobile) {
  .navbar__container {
    justify-content: flex-start;
    padding: 0;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .header-controls {
    margin-left: 1rem;

    &:first-child {
      margin-left: 0.5rem;
    }
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
    min-width: unset;
    margin-left: -1rem;
  }
  a.nav-link {
    padding: 0.5rem;
  }
  .title__container {
    width: 100%;
  }
}
