<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
  <div class="title__container">
    <a routerLink="/" class="navbar-brand"><img src="../../assets/recipe-book-logo.png">Recipe Book</a>
    <div *ngIf="isLoading && isMobileDevice">
      <app-loading-spinner-progressbar></app-loading-spinner-progressbar>
    </div>
  </div>

  <div class="collapse navbar-collapse navbar__container">
    <ul class="nav navbar-nav">
      <li class="nav-link header-controls" routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="/recipes"
                                                                                                class="nav-link">Recipes</a>
      </li>
      <li class="nav-link header-controls" routerLinkActive="active" *ngIf="!isAuthenticated"><a routerLink="/auth"
                                                                                                 class="nav-link">Authenticate</a>
      </li>
      <li class="nav-link header-controls" routerLinkActive="active"><a routerLink="/shopping-list" class="nav-link">Shopping
        List</a>
      </li>
    </ul>
    <div *ngIf="isLoading && !isMobileDevice">
      <app-loading-spinner-progressbar></app-loading-spinner-progressbar>
    </div>
    <div class="nav navbar-nav">
      <div class="header-controls" *ngIf="isAuthenticated">
        <a class="nav-link" (click)="onLogOut()">Logout</a>
      </div>
      <div class="nav-item dropdown header-controls" appDropdown *ngIf="isAuthenticated">
        <a class="nav-link dropdown-toggle" id="header-dropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           role="button"
        >
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="header-dropdown">
          <a class="dropdown-item" (click)="onFetchRecipes()">Fetch Data</a>
        </div>
      </div>
    </div>

  </div>
</nav>
