<div class="edit-recipe__container">
  <div class="edit-recipe__form-header">
    <div
      *ngIf="this.editMode; else createNewTitle">
      <h3> What you want to change? </h3>
    </div>
    <ng-template #createNewTitle>
      <h3>Fill all fields to create new Recipe</h3>
    </ng-template>
  </div>
  <form class="edit-recipe__form-body" [formGroup]="recipeForm" (ngSubmit)="onSubmitForm()">

    <div class="btn-group">
      <button class="btn btn-success"
              type="submit"
              [disabled]="!recipeForm.valid"
      > Submit
      </button>
      <button class="btn btn-danger"
              type="button"
              (click)="onCancel()"
      > Cancel
      </button>
    </div>

    <div class="row">
      <div>
        <label for="recipeName">Input recipe name:</label>
        <input class="form-control"
               id="recipeName"
               name="recipeName"
               formControlName="name"
        >
      </div>

      <div>
        <label for="imagePath">Paste image URL</label>
        <input class="form-control"
               id="imagePath"
               name="imagePath"
               formControlName="imagePath"
               #imagePath
        >
      </div>
    </div>

    <div class="row">
      <img [src]="imagePath.value" class="image-responsive">
    </div>

    <div class="row">
      <div>
        <label for="recipeDescription">Input recipe description:</label>
        <textarea class="form-control"
                  id="recipeDescription"
                  name="recipeDescription"
                  formControlName="description"
                  rows="5"
        >
        </textarea>
      </div>
    </div>

    <div formArrayName="ingredients">
      <div class="row ingredients-list" *ngFor=" let ingredientCtrl of ingredientsFormControls let i = index" [formGroupName]="i">
        <div class="ingredients-list__name">
          <input type="text" class="form-control name" formControlName="name">
        </div>
        <div class="ingredients-list__amount">
          <input type="number" class="form-control amount" formControlName="amount">
        </div>
        <div class="ingredients-list__button">
          <Button class="btn btn-danger" (click)="onDeleteIngredient(i)"> Delete </Button>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <hr>
        <button class="btn btn-success" type="button" (click)="onAddIngredient()"> Add New </button>
      </div>
    </div>


  </form>
</div>
