<div class="edit-recipe__container">
  <div class="edit-recipe__form-header">
    <div
      *ngIf="this.editMode; else createNewTitle">
      <h3> What you want to change? </h3>
    </div>
    <ng-template #createNewTitle>
      <h3>Fill all fields to create new Recipe</h3>
    </ng-template>
  </div>
  <form class="edit-recipe__form-body" [formGroup]="recipeForm" (ngSubmit)="onSubmitForm()">

    <div class="btn-group">
      <button class="btn btn-success"
              type="submit"
              [disabled]="recipeForm? !recipeForm.valid : false"
      > Submit
      </button>
      <button class="btn btn-danger"
              type="button"
              (click)="onCancel()"
      > Cancel
      </button>
    </div>

    <div class="row">
      <div>
        <label for="recipeName">Input recipe name:</label>
        <input class="form-control"
               id="recipeName"
               name="recipeName"
               formControlName="name"
        >
      </div>

      <div>
        <label for="imagePath">Paste image URL</label>
        <input class="form-control"
               id="imagePath"
               name="imagePath"
               formControlName="imagePath"
               #imagePath
        >
      </div>
    </div>

    <div class="edit-image-container">
      <img [src]="imagePath.value" class="image-responsive" alt="recipe photo">
    </div>

    <div class="row">
      <div>
        <label for="recipeDescription">Input recipe description:</label>
        <textarea class="form-control"
                  id="recipeDescription"
                  name="recipeDescription"
                  formControlName="description"
                  rows="5"
        >
        </textarea>
      </div>
    </div>

    <div formArrayName="ingredients">

      <div class="add-new-form__container">
        <button class="btn btn-primary" type="button" (click)="onAddIngredientForm()">Add New Ingredient</button>
      </div>

      <hr *ngIf="ingredientsFormControls.length > 0">

      <div class=" ingredients-list" *ngFor=" let ingredientCtrl of ingredientsFormControls let i = index"
           [formGroupName]="i">
        <div class="ingredients-list__name">
          <label for="name">Ingredient Name:</label>
          <input id="name" type="text" class="form-control name" formControlName="name">
        </div>
        <div class="ingredients-list__amount">
          <label for="amount">Amount:</label>
          <input type="number" id="amount" class="form-control amount" formControlName="amount">
        </div>
        <div class="ingredients-list__unit">
          <label for="unit">Unit:</label>
          <select
            name="unit"
            id="unit"
            class="form-control"
            required
            formControlName="unit"
          >
            <option value="null">Select Unit</option>
            <option *ngFor="let unit of unitListOptions" value="{{unit.value}}">{{unit.label}}</option>
          </select>
        </div>
        <div class="ingredients-list__del-button">
          <Button class="btn btn-danger" (click)="onDeleteIngredient(i)">Delete</Button>
        </div>
      </div>
    </div>
  </form>
</div>
