.details-image {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-height: 300px;
  }
}

.dropdown-menu {
  top: 38px;

  & a {
    cursor: pointer;
  }
}

h2, p {
  text-align: center;
}

