@import "src/stylesheets/tools/variables";

.recipe-start__container {
  display: flex;
  justify-content: center
}

@media screen and (max-width: $device-width-mobile) {
  .recipe-start__container{
    margin-top: 20px;
  }
}
