.recipe-list__container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin:0;
}
.controls__container{
  padding: 0 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-form{
  display: flex;
  flex-direction: row;
  width: auto;
  button{
    margin-left: 0.75rem;
  }
}
.cancel-search__container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
  padding: 0 0.75rem;
}
@media screen and (max-width: 560px) {
  .controls__container{
    padding: 0;
  }
}

